/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://static.slickdealscdn.com/attachment/8/6/6/3/0/7025511.attach");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  
  
}

